    <h1>Stupid Coaching</h1> <!-- Add this -->
  <div class = 'container'>
    <p>You: <%= @question %></p>

    <br>
    <br>

    <p>Coach: <%= @answer %></p>

    <br>
    <br>
    </div>

    <p id = 'return'><%= link_to "Ask a new question", ask_path %></p>
